<%= form_with(model: game) do |form| %>
  <% if game.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(game.errors.count, "error") %> prohibited this game from being saved:</h2>

      <ul>
        <% game.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_area :name %>
  </div>

  <div class="field">
    <%= form.label :publisher %>
    <%= form.text_area :publisher %>
  </div>

  <div class="field">
    <%= form.label :developer %>
    <%= form.text_area :developer %>
  </div>

  <div class="field">
    <%= form.label :platform %>
    <%= form.text_area :platform %>
  </div>

  <div class="field">
    <%= form.label :notes %>
    <%= form.text_area :notes %>
  </div>

  <div class="field">
    <%= form.label :cover_art %>
    <%= form.text_field :cover_art %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
